<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>Lucy.js demo</title>
<link rel="stylesheet" href="/static/style.css" />

</head>
<body>

<header>
	<h1>Lucy.js</h1>
	<p>Lucy.js enables fast full-text searching on any indexedDB database and supports several different index types.</p>
</header>

<section id="demo">
	<P></P>
	Compare client versus server on the following tasks:
	<h1><a href="/demo1">Typeahead Demo</a></h1>
	
	<h1><a href="/demo2">Full-text Search Demo</a></h1>
	
	Below is a client-side only demo, showing the capabilities of different indexes.
	<P></P>
	<button id="import-data">Import Data</button>
	<button id="build-inv-index">Build Inverted Index</button>
    <button id="build-prefix-index">Build Prefix Tree Index</button>
    <button id="build-suffix-index">Build Suffix Tree Index</button>
	<p class="loading-status"></p>
	
	<form class="search">
		<input type="search" id="search-query" placeholder="Search query (use % as a wildcard)" autofocus>
		<button type="submit" id="submit-search">Search</button>
	</form>
	
	<section class="search-results">
		<h1><strong class="count"> </strong>Search results <span class="duration"></span></h1>
		<ul></ul>
	</section>
	
</section>

<footer>
	A project by Amy Zhang, Lea Verou, Manali Naik • <a href="https://github.com/amyxzhang/lucy.js" target="_blank">Github</a>
</footer>

<script src="/static/code/lucy.js"></script>
<script src="/static/code/stopwords/english_stopwords.js"></script>
<script src="/static/code/third-party/Snowball.min.js"></script>
<script src="/static/code/invindex.js"></script>
<script src="/static/code/trieindex-new.js"></script>
<script src="/static/code/idbport.js"></script>
<script src="/static/code/demo.js"></script>

</body>
</html>